<template>
  <b-field :label="$t('myInfo.birthDate')" expanded>
    <b-field>
      <b-datepicker
        :value="new Date(model)"
        icon="calendar-today"
        @input="updateDate"
      />
      <!-- editable -->
    </b-field>
  </b-field>
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";

export default {
  mixins: [vuexModel("my-info", "birthDate")],
  methods: {
    updateDate(newDate) {
      this.model = new Date(Date.parse(newDate)).getTime();
    },
  },
};
</script>
