<template>
  <b-field :label="$t('myInfo.heightLabel')" expanded>
    <b-field>
      <b-input v-model.number="model" icon="human-male-height" expanded />
      <p class="control">
        <span class="button is-static">{{ $t("shared.unit.cm") }}</span>
      </p>
    </b-field>
  </b-field>
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";

export default {
  mixins: [vuexModel("my-info", "height")],
};
</script>
