<template>
  <b-field :label="$t('myInfo.intolerances.label')">
    <div class="block">
      <b-checkbox
        v-for="(intolerance, index) in intolerances"
        :key="index"
        v-model="model"
        :native-value="intolerance"
        class="intolerance"
        :class="{ selected: model.indexOf(intolerance) !== -1 }"
      >
        {{ $t(`myInfo.allergies.options.${intolerance}`) }}
      </b-checkbox>
    </div>
  </b-field>
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";

export default {
  mixins: [vuexModel("my-info", "intolerances")],
  data: () => ({
    intolerances: [
      "dairy",
      "egg",
      "gluten",
      "peanut",
      "sesame",
      "seafood",
      "shellfish",
      "soy",
      "sulfite",
      "treeNut",
      "wheat",
    ],
  }),
};
</script>

<style lang="scss" scoped>
.intolerance.selected {
  color: $primary;
}

.intolerance:hover {
  color: $primary;
}
</style>
