<template>
  <b-field :label="$t('myInfo.allergies.label')">
    <div class="block">
      <b-checkbox
        v-for="(allergie, index) in allergies"
        :key="index"
        v-model="model"
        :native-value="allergie"
        class="allergie"
        :class="{ selected: model.indexOf(allergie) !== -1 }"
      >
        {{ $t(`myInfo.allergies.options.${allergie}`) }}
      </b-checkbox>
    </div>
  </b-field>
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";

export default {
  mixins: [vuexModel("my-info", "allergies")],
  data: () => ({
    allergies: [
      "dairy",
      "egg",
      "gluten",
      "peanut",
      "sesame",
      "seafood",
      "shellfish",
      "soy",
      "sulfite",
      "treeNut",
      "wheat",
    ],
  }),
};
</script>

<style lang="scss" scoped>
.allergie.selected {
  color: $primary;
}

.allergie:hover {
  color: $primary;
}
</style>
