<template>
  <b-field :label="$t('myInfo.weightLabel')" expanded>
    <b-field>
      <b-input v-model.number="model" icon="scale-bathroom" expanded />
      <p class="control">
        <span class="button is-static">{{ $t("shared.unit.kg") }}</span>
      </p>
    </b-field>
  </b-field>
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";

export default {
  mixins: [vuexModel("my-info", "weight")],
};
</script>
