<template>
  <b-field :label="$t('myInfo.activity.label')" expanded>
    <b-field>
      <b-select v-model="model" icon="bike" expanded>
        <option
          v-for="(activity, index) in activities"
          :key="index"
          :value="index"
        >
          {{ $t(`myInfo.activity.options.${activity}`) }}
        </option>
      </b-select>
    </b-field>
  </b-field>
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";

export default {
  mixins: [vuexModel("my-info", "activity")],
  data: () => ({
    activities: ["sedentary", "little", "moderate", "high", "veryHigh"],
  }),
};
</script>
