<template>
  <b-field :label="$t('myInfo.sex.label')">
    <b-field>
      <b-radio
        v-for="(sexName, index) in sexes"
        :key="index"
        v-model="model"
        :native-value="sexName"
      >
        {{ $t(`myInfo.sex.options.${sexName}`) }}
      </b-radio>
    </b-field>
  </b-field>
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";

export default {
  mixins: [vuexModel("my-info", "sex")],
  data: () => ({
    sexes: ["male", "female"],
  }),
};
</script>
