<template>
  <BaseRange
    v-model="model"
    :label="$t('shared.proteins')"
    :max="200"
    :unit="unit('proteins')"
  />
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";
import nutrientUnit from "~/mixins/nutrientUnit.js";

export default {
  mixins: [nutrientUnit, vuexModel("my-goals", "proteins")],
};
</script>
