<template>
  <BaseRange
    v-model="model"
    :label="$t('shared.lipids')"
    :max="250"
    :unit="unit('lipids')"
  />
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";
import nutrientUnit from "~/mixins/nutrientUnit.js";

export default {
  mixins: [nutrientUnit, vuexModel("my-goals", "lipids")],
};
</script>
