<template>
  <BaseRange
    v-model="model"
    :label="$t('shared.calories')"
    :max="4000"
    :unit="unit('calories')"
  />
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";
import nutrientUnit from "~/mixins/nutrientUnit.js";

export default {
  mixins: [nutrientUnit, vuexModel("my-goals", "calories")],
};
</script>
