<template>
  <BaseRange
    v-model="model"
    :label="$t('shared.carbohydrates')"
    :max="500"
    :unit="unit('carbohydrates')"
  />
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";
import nutrientUnit from "~/mixins/nutrientUnit.js";

export default {
  mixins: [nutrientUnit, vuexModel("my-goals", "carbohydrates")],
};
</script>
