<template>
  <section v-if="recipe" class="section">
    <header class="level">
      <h2 class="level-left title">{{ recipe.name }}</h2>
      <a class="level-right">
        <b-icon v-if="recipe.liked" icon="star" />
        <b-icon v-else icon="star-outline" />
      </a>
    </header>
    <div class="columns">
      <div class="column">
        <h3 class="title is-5">
          {{ $t("myRecipes.nutrientsLabel") }}
        </h3>
        <div v-for="(value, name) in recipe.nutrients" :key="name">
          {{ name | capitalize }} : {{ value }} {{ unit(name) }}
        </div>
      </div>
      <div class="column">
        <h3 class="title is-5">
          {{ $t("myRecipes.ingredientsLabel") }}
        </h3>
        <template v-if="Array.isArray(recipe.ingredients)">
          <div v-for="(ingredient, i) in recipe.ingredients" :key="i">
            {{ ingredient }}
          </div>
        </template>
        <template v-else>
          <div v-for="(quantity, name) in recipe.ingredients" :key="name">
            {{ name | capitalize }} : {{ quantity | joinIfArray }}
          </div>
        </template>
      </div>
      <div class="column">
        <div v-if="'prepTime' in recipe">
          {{ $t("myRecipes.readyIn") }}
          {{ prettyMinutes(recipe.prepTime) }}
        </div>
        <div v-if="'price' in recipe">
          {{ $t("shared.priceLabel") }} : {{ recipe.price }} $
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions } from "vuex";
import nutrientUnit from "~/mixins/nutrientUnit.js";

export default {
  filters: {
    capitalize(value) {
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
    joinIfArray(value) {
      return Array.isArray(value) ? value.join(" ") : value;
    },
  },
  mixins: [nutrientUnit],
  data: (vm) => ({
    recipeId: vm.$route.params.id,
    recipe: null,
  }),

  async mounted() {
    try {
      this.recipe = await this.fetchRecipeByID(this.recipeId);
    } catch (error) {
      this.$buefy.toast.open({
        duration: 2000,
        message: error.toString(),
        type: "is-danger",
      });
    }
  },
  methods: {
    ...mapActions("recipes", ["fetchRecipeByID"]),
    prettyMinutes(minutes) {
      let hours = Math.floor(minutes / 60);
      let minutesRest = minutes - 60 * hours;
      hours = hours ? `${hours} ${this.$t("shared.prepTime.hoursAnd")} ` : "";
      minutesRest = minutesRest + " " + this.$t("shared.prepTime.minutes");
      return hours + minutesRest;
    },
  },
};
</script>
