<template>
  <section v-if="!$fetchState.pending" class="section">
    <h2 class="title">
      {{ $t(`shared.daysInWeek.${day.dayInWeek}`) }} {{ day.dayInMonth }}
      {{ $t(`shared.monthsInYear.${day.month}`) }} {{ day.date.getFullYear() }}
    </h2>

    <DayMeals :meals="day.meals" />

    <div class="box">
      <div class="title is-5">Nutrients</div>
      <div v-for="(value, key) in day.nutrients" :key="key">
        {{ key }} : {{ value }}
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  async fetch() {
    const date = new Date(Date.parse(this.$route.params.date));
    await this.fetchWeekByDate(date);
    this.day = this.getDay(date);
  },
  data: () => ({
    day: {},
  }),
  computed: {
    ...mapGetters("my-schedule", ["getDay"]),
  },
  methods: {
    ...mapActions("my-schedule", ["fetchWeekByDate"]),
  },
};
</script>
