<template>
  <b-field :label="$t('myDiet.dailyCourses.label')">
    <b-taginput
      v-model="model"
      :data="filteredTags"
      autocomplete
      :open-on-focus="true"
      icon="label"
      :placeholder="$t('shared.recipesTags.placeholder')"
      @typing="getFilteredTags"
    >
      <template slot-scope="{ option }">
        {{ $t(`shared.recipesTags.options.${option}`) }}
      </template>
      <template slot="tag" slot-scope="{ tag }">
        {{ $t(`shared.recipesTags.options.${tag}`) }}
      </template>
    </b-taginput>
  </b-field>
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";

export default {
  mixins: [vuexModel("my-diet", "dailyCourses")],
  data: () => ({
    allTags: [
      "breakfast",
      "aperitif",
      "appetizer",
      "soup",
      "snack",
      "sandwich",
      "dessert",
    ],
    filteredTags: [],
  }),
  mounted() {
    this.filteredTags = this.allTags;
  },
  methods: {
    getFilteredTags(text) {
      this.filteredTags = this.allTags.filter((tag) => {
        return tag.toString().toLowerCase().includes(text.toLowerCase());
      });
    },
  },
};
</script>
