<template>
  <b-field :label="$t('shared.individualFoods.favoriteLabel')">
    <div class="block">
      <b-checkbox
        v-for="(individualFood, index) in individualFoods"
        :key="index"
        v-model="favoriteIndividualFoods"
        :native-value="individualFood"
        class="individualFood"
        :class="{
          selected: favoriteIndividualFoods.indexOf(individualFood) !== -1,
        }"
      >
        {{ $t(`shared.individualFoods.options.${individualFood}`) }}
      </b-checkbox>
    </div>
    {{ favoriteIndividualFoods }}
  </b-field>
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";

export default {
  mixins: [vuexModel("my-diet", "favoriteIngredients")],
  data: () => ({
    favoriteIndividualFoods: [],
    individualFoods: [
      "egg",
      "banana",
      "walnut",
      "beef",
      "strawberry",
      "cream",
      "rice",
      "oat",
    ],
  }),
};
</script>

<style lang="scss" scoped>
.individualFood.selected {
  color: $primary;
}

.individualFood:hover {
  color: $primary;
}
</style>
