<template>
  <b-field :label="$t('shared.dietType.label')">
    <b-select v-model="model" icon="food-variant">
      <option v-for="(option, index) in options" :key="index">
        {{ $t(`shared.dietType.options.${option}`) }}
      </option>
    </b-select>
  </b-field>
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";

export default {
  mixins: [vuexModel("my-diet", "dietType")],
  data: () => ({
    options: [
      "omnivore",
      "vegan",
      "vegetarian",
      "fruitarian",
      "lactoVegetarianism",
      "ovoVegetarian",
      "ovoLactoVegetarian",
      "pescetarian",
      "pollotarian",
      "polloPescetarian",
      "mediterranean",
    ],
  }),
};
</script>
