<template>
  <b-field :label="$t('shared.ingredients.favoriteLabel')">
    <div class="block">
      <b-checkbox
        v-for="(ingredient, index) in ingredients"
        :key="index"
        v-model="model"
        :native-value="ingredient"
        class="ingredient"
        :class="{ selected: model.indexOf(ingredient) !== -1 }"
      >
        {{ $t(`shared.ingredients.options.${ingredient}`) }}
      </b-checkbox>
    </div>
    {{ model }}
  </b-field>
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";

export default {
  mixins: [vuexModel("my-diet", "favoriteIngredients")],
  data: () => ({
    ingredients: [
      "egg",
      "banana",
      "walnut",
      "beef",
      "strawberry",
      "cream",
      "rice",
      "oat",
    ],
  }),
};
</script>

<style lang="scss" scoped>
.ingredient.selected {
  color: $primary;
}

.ingredient:hover {
  color: $primary;
}
</style>
