<template>
  <b-field>
    <template slot="label">
      {{ label }} : {{ model[0] }} - {{ model[1] }} {{ unit }}
    </template>
    <b-slider v-model.lazy="model" :min="min" :max="max" :step="step" />
  </b-field>
</template>

<script>
export default {
  props: {
    value: {
      type: Array,
      default: () => [],
    },
    label: {
      type: String,
      default: "",
    },
    min: {
      type: Number,
      default: 0,
    },
    max: {
      type: Number,
      default: 100,
    },
    step: {
      type: Number,
      default: 1,
    },
    unit: {
      type: String,
      default: "",
    },
  },
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
};
</script>
