<template>
  <div
    ref="carousel"
    class="carousel"
    :class="{ centered: isCentered, fullWidth: isFullWidth }"
    @mousedown="start"
    @mousemove="update"
    @mouseleave="end"
    @mouseup="end"
  >
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    speed: {
      type: Number,
      default: 1,
    },
    isCentered: {
      type: Boolean,
      default: false,
    },
    isFullWidth: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    active: false,
    startX: 0,
    scrollLeft: 0,
  }),
  computed: {
    carousel() {
      return this.$refs.carousel || {};
    },
  },
  methods: {
    start({ pageX }) {
      this.active = true;
      this.startX = pageX;
      this.scrollLeft = this.carousel.scrollLeft;
    },

    update({ pageX }) {
      if (this.active) {
        this.carousel.classList.add("moving");
        const diff = pageX - this.startX;
        this.carousel.scrollLeft = this.scrollLeft - diff * this.speed;
      }
    },

    end() {
      this.active = false;
      this.carousel.classList.remove("moving");
    },
  },
};
</script>

<style lang="scss" scoped>
.carousel {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  transition: all 0.2s;
  user-select: none;
  cursor: pointer;
}

.carousel.moving {
  cursor: grabbing;
}

.carousel.centered > *:first-of-type {
  margin-left: auto;
}

.carousel.centered > *:last-of-type {
  margin-right: auto;
}

.carousel.fullWidth {
  position: absolute;
  left: $gap;
  right: $gap;
}
</style>
