<template>
  <div class="level is-mobile">
    <div class="level-left">
      <h2 class="title">{{ title }}</h2>
    </div>
    <div class="level-right">
      <b-button v-if="isSaved" type="is-success" icon-left="check">
        {{ $t("base.pageHeader.saved") }}
      </b-button>
      <div v-else>
        <b-button type="is-danger" icon-left="undo" outlined @click="revert" />
        <b-button type="is-warning" icon-left="content-save" @click="save">
          {{ $t("base.pageHeader.save") }}
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "PageTitle",
    },
    isSaved: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    save() {
      this.$emit("save");
    },
    revert() {
      this.$emit("revert");
    },
  },
};
</script>

<style lang="scss" scoped></style>
