<template>
  <b-tabs
    :value="parseInt($route.query.mealIndex, 10)"
    type="is-toggle"
    vertical
    expanded
    :animated="false"
    @change="changeMealIndex"
  >
    <b-tab-item v-for="(meal, i) in meals" :key="i">
      <template slot="header">
        <RecipesList :recipes-ids="meal" />
      </template>
      <!-- <div
        class="box"
        style="position: absolute; left: 10px; top: 0; bottom: 0; right: 0;"
      > -->
      <div class="card-container">
        <RecipeSummary
          v-for="(recipeId, j) in meal"
          :key="j"
          :recipe-id="recipeId"
        />
      </div>
      <!-- </div> -->
    </b-tab-item>
  </b-tabs>
</template>

<script>
export default {
  props: {
    meals: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    changeMealIndex(value) {
      this.$router.replace({ query: { mealIndex: value } });
    },
  },
};
</script>

<style lang="scss" scoped>
.card-container {
  display: grid;
  gap: 1rem;
}
</style>
