<template>
  <b-field :label="$t('shared.dietType.label')">
    <b-select v-model="model" icon="food-variant">
      <option v-for="(option, index) in options" :key="index">
        {{ $t(`shared.dietType.options.${option}`) }}
      </option>
    </b-select>
  </b-field>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: "omnivore",
    },
  },
  data: () => ({
    options: [
      "omnivore",
      "vegan",
      "vegetarian",
      "fruitarian",
      "lactoVegetarianism",
      "ovoVegetarian",
      "ovoLactoVegetarian",
      "pescetarian",
      "pollotarian",
      "polloPescetarian",
      "mediterranean",
    ],
  }),
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
};
</script>
