<template>
  <b-field :label="$t('shared.ingredients.favoriteLabel')">
    <div class="block">
      <b-checkbox
        v-for="(ingredient, index) in ingredients"
        :key="index"
        v-model="model"
        :native-value="ingredient"
        class="ingredient"
        :class="{ selected: model.indexOf(ingredient) !== -1 }"
      >
        {{ $t(`shared.ingredients.options.${ingredient}`) }}
      </b-checkbox>
    </div>
  </b-field>
</template>

<script>
export default {
  props: {
    value: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    ingredients: [
      "egg",
      "banana",
      "walnut",
      "beef",
      "strawberry",
      "cream",
      "rice",
      "oat",
    ],
  }),
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.ingredient.selected {
  color: $primary;
}

.ingredient:hover {
  color: $primary;
}
</style>
