<template>
  <b-field :label="$t('shared.individualFoods.favoriteLabel')">
    <div class="block">
      <b-checkbox
        v-for="(individualFood, index) in individualFoods"
        :key="index"
        v-model="model"
        :native-value="individualFood"
        class="individualFood"
        :class="{
          selected: model.indexOf(individualFood) !== -1,
        }"
      >
        {{ individualFood.desc }}
        <!-- {{ $t(`shared.individualFoods.options.${individualFood}`) }} -->
      </b-checkbox>
    </div>
  </b-field>
</template>

<script>
import getAllFoods from "@/gql/foods.gql";

export default {
  props: {
    value: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    individualFoods: [],
  }),
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
  async mounted() {
    try {
      const individualFoods = await this.$apollo
        .query({ query: getAllFoods })
        .then(({ data }) => data && data.allFoods);
      if (individualFoods) {
        this.individualFoods = individualFoods.edges.map((node) => node.node);
      }
    } catch (error) {
      this.$buefy.toast.open({
        duration: 2000,
        message: error.toString(),
        type: "is-danger",
      });
    }
  },
};
</script>

<style lang="scss" scoped>
.individualFood.selected {
  color: $primary;
}

.individualFood:hover {
  color: $primary;
}
</style>
