<template>
  <b-field :label="$t('shared.cuisines.favoriteLabel')">
    <div class="block">
      <b-checkbox
        v-for="(cuisine, index) in cuisines"
        :key="index"
        v-model="favoriteCuisines"
        :native-value="cuisine"
        class="cuisine"
        :class="{ selected: favoriteCuisines.indexOf(cuisine) !== -1 }"
      >
        {{ $t(`shared.cuisines.options.${cuisine}`) }}
      </b-checkbox>
    </div>
    {{ favoriteCuisines }}
  </b-field>
</template>

<script>
export default {
  data: () => ({
    favoriteCuisines: [],
    cuisines: [
      "african",
      "american",
      "british",
      "cajun",
      "caribbean",
      "chinese",
      "easternEuropean",
      "french",
      "german",
      "greek",
      "indian",
      "irish",
      "italian",
      "japanese",
      "jewish",
      "korean",
      "latinAmerican",
      "mexican",
      "middleEastern",
      "nordic",
      "southern",
      "spanish",
      "thai",
      "vietnamese",
    ],
  }),
};
</script>

<style lang="scss" scoped>
.cuisine.selected {
  color: $primary;
}

.cuisine:hover {
  color: $primary;
}
</style>
