<template>
  <form>
    <div class="container">
      <h1 class="title is-4">
        {{ $t("findRecipes.byPreferences.dietChoiceLabel") }}
      </h1>
      <DietType v-model="dietType" />
      <!-- <FavoriteCuisines /> -->
      <FavoriteIngredients v-model="favoriteIngredients" />
      <FavoriteIndividualFoods v-model="favoriteIndividualFoods" />
      <RecipesTag v-model="courses" />
    </div>

    <hr />

    <div class="container">
      <h1 class="title is-4">
        {{ $t("findRecipes.byPreferences.nutrientsRangeLabel") }}
      </h1>
      <TestRange />
      <BaseRange
        v-model="calories"
        :label="$t('shared.calories')"
        :max="1000"
        :unit="unit('calories')"
      />
      <BaseRange
        v-model="proteins"
        :label="$t('shared.proteins')"
        :max="200"
        :unit="unit('proteins')"
      />
      <BaseRange
        v-model="carbohydrates"
        :label="$t('shared.carbohydrates')"
        :max="400"
        :unit="unit('carbohydrates')"
      />
      <BaseRange
        v-model="lipids"
        :label="$t('shared.lipids')"
        :max="250"
        :unit="unit('lipids')"
      />
    </div>

    <hr />

    <div class="container">
      <h1 class="title is-4">
        {{ $t("findRecipes.byPreferences.otherConstraintsLabel") }}
      </h1>
      <PreparationTime v-model="prepTime" />
      <BaseRange
        v-model="price"
        :label="$t('shared.priceLabel')"
        :max="200"
        unit="€"
      />
      <Allergies v-model="allergies" />
      <Intolerances v-model="intolerances" />
    </div>

    <!-- shouldn't need the grouped attribute -->
    <b-field grouped position="is-right">
      <b-button
        class="button is-primary"
        icon-left="magnify"
        @click="queryRecipes"
      />
    </b-field>
  </form>
</template>

<script>
import nutrientUnit from "~/mixins/nutrientUnit.js";

export default {
  mixins: [nutrientUnit],
  data: () => ({
    dietType: "",
    favoriteIngredients: [],
    favoriteIndividualFoods: [],
    courses: [],
    calories: [620, 840],
    proteins: [85, 140],
    carbohydrates: [250, 340],
    lipids: [110, 140],
    prepTime: 60,
    price: [10, 20],
    allergies: [],
    intolerances: [],
  }),
  methods: {
    queryRecipes() {
      this.$emit("search", {
        proteins: this.proteins,
        lipids: this.lipids,
        carbohydrates: this.carbohydrates,
        price: this.price,
      });
    },
  },
};
</script>
