<template>
  <form>
    <b-field position="is-centered">
      <b-input
        :placeholder="$t('findRecipes.byName.placeholder')"
        type="search"
      ></b-input>
      <p class="control">
        <b-button class="button is-primary" icon-left="magnify" />
      </p>
    </b-field>
  </form>
</template>
