<template>
  <b-field :label="$t('shared.prepTime.label')">
    <b-field>
      <b-input v-model.number="model" type="number" />
      <p class="control">
        <span class="button is-static">{{
          $t("shared.prepTime.minutes")
        }}</span>
      </p>
    </b-field>
  </b-field>
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
};
</script>
