<template>
  <div>
    <b-field grouped group-multiline>
      <b-field label="Test Range">
        <b-field>
          <b-switch></b-switch>
        </b-field>
      </b-field>
      <b-field label="Min">
        <!-- <p class="control">
          <span class="button is-static">
            Min
          </span>
        </p> -->
        <b-input v-model.number="rangeMin" type="number" />
      </b-field>
      <b-field label="Max">
        <b-input v-model.number="rangeMax" type="number" />
        <!-- <p class="control">
          <span class="button is-static">
            Max
          </span>
        </p> -->
      </b-field>
      <!-- <b-select :placeholder="$tc('shared.unit.label')">
        <option>{{ $tc("shared.unit.gram", 2) }} </option>
        <option>{{ $tc("shared.unit.lb", 2) }}</option>
      </b-select> -->
    </b-field>
    <b-field>
      <b-field>
        <b-slider v-model.lazy="model" :min="0" :max="4000" :step="100" />
      </b-field>
    </b-field>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Array,
      default: () => [0, 1],
    },
  },
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
    rangeMin: {
      get() {
        return this.value[0];
      },
      set(value) {
        this.$emit("input", [value, this.model[1]]);
      },
    },
    rangeMax: {
      get() {
        return this.value[1];
      },
      set(value) {
        this.$emit("input", [this.model[0], value]);
      },
    },
  },
};
</script>
