<template>
  <div>
    <Navbar />

    <div class="container">
      <nuxt />
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
</style>

<style scoped>
.container {
  position: unset;
}
</style>
