<template>
  <div class="container">
    <div>
      <h1 v-if="error.statusCode === 404">Page not found</h1>
      <h1 v-else>Something wrong happened</h1>
      <nuxt-link to="/">Back to the welcome page</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  layout: "empty",
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
</style>
