<template>
  <section class="section">
    <div class="box">
      <b-tabs expanded :animated="false">
        <b-tab-item :label="$t('findRecipes.byPreferences.label')">
          <FindByPreferences @search="queryRecipes" />
        </b-tab-item>
        <b-tab-item :label="$t('findRecipes.byName.label')">
          <FindByName />
        </b-tab-item>
      </b-tabs>
    </div>

    <div class="card-container">
      <div v-for="recipeId in recipesIds" :key="recipeId">
        <RecipeSummary :recipe-id="recipeId" />
      </div>
    </div>
  </section>
</template>

<script>
import recipesByPreferences from "@/gql/recipesByPreferences.gql";

export default {
  data: () => ({
    recipesIds: [],
  }),
  methods: {
    async queryRecipes(variables) {
      const results = await this.$apollo
        .query({
          query: recipesByPreferences,
          // variables,
        })
        .then(({ data }) => data && data.allRecipes);
      this.recipesIds = results.edges.map((node) => node.node.id);
    },
  },
};
</script>

<style lang="scss" scoped>
.box {
  padding: 0;
}

.card-container {
  display: grid;
  gap: 1rem;
}
</style>
