<template>
  <section class="section">
    <div class="columns">
      <div class="column is-two-thirds content">
        <h1>{{ $t("home.catchPhrase") }}</h1>
        <div>
          <h2>{{ $t("home.question") }}</h2>
          <p>{{ $t("home.response") }}</p>
        </div>
      </div>
      <div class="column">
        <img src="https://bulma.io/images/placeholders/256x256.png" />
      </div>
    </div>

    <div class="container is-fullhd">
      <h2 class="title">{{ $t("home.lastWeekPopularMeals") }}</h2>
      <client-only placeholder="Loading...">
        <!-- <div
          v-masonry
          transition-duration="0.2s"
          item-selector=".item"
          class="masonry-container"
        >
          <div
            v-for="index in 15"
            :key="index"
            v-masonry-tile
            class="item"
            style="margin: 10px;"
          >
            <RecipeCard :index="index" />
          </div>
        </div> -->
      </client-only>
    </div>
  </section>
</template>

<script>
export default {
  name: "HomePage",
  mounted() {
    if (typeof this.$redrawVueMasonry === "function") {
      this.$redrawVueMasonry();
    }
  },
};
</script>
