<template>
  <section class="section">
    <BasePageHeader
      :title="$t('myDiet.title')"
      :is-saved="areSaved"
      @save="save"
      @revert="revert"
    />
    <div class="box">
      <DietDietType />
      <!-- <DietFavoriteCuisines /> -->
      <DietFavoriteIngredients />
      <DietFavoriteIndividualFoods />
      <DietDailyCourses />
    </div>
  </section>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "MyDiet",
  data: () => ({}),
  computed: {
    ...mapGetters("my-diet", ["areSaved"]),
  },
  created() {
    this.fetchList();
  },
  methods: {
    ...mapActions("my-diet", ["fetchList", "save", "revert"]),
  },
};
</script>
