<template>
  <section class="section">
    <BasePageHeader
      :title="$t('myGoals.title')"
      :is-saved="areSaved"
      @save="save"
      @revert="revert"
    />
    <div class="box">
      <GoalsCaloriesRange />
      <GoalsProteinsRange />
      <GoalsCarbohydratesRange />
      <GoalsLipidsRange />

      <div class="restore-defaults">
        <b-button type="is-info" disabled>
          {{ $t("myGoals.restoreToDefault") }}
        </b-button>
      </div>

      <div class="level">
        <div class="level-left">{{ $t("myInfo.bmi") }} {{ bmi }}</div>
        <div class="level-right">
          {{ $t("myInfo.caloriesMaintenance") }}
          {{ maintenanceCalories | rounded }}
          {{ $t("shared.unit.kcal") }}
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "MyGoals",
  filters: {
    rounded(value) {
      return Math.round(value);
    },
  },
  computed: {
    ...mapGetters("my-goals", ["areSaved"]),
    ...mapGetters("my-info", ["bmi", "maintenanceCalories"]),
  },
  created() {
    this.fetchList();
  },
  methods: {
    ...mapActions("my-goals", ["fetchList", "save", "revert"]),
  },
};
</script>

<style lang="scss" scoped>
.restore-defaults {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
</style>
