<template>
  <section class="section">
    <BasePageHeader
      :title="$t('myInfo.title')"
      :is-saved="areSaved"
      @save="save"
      @revert="revert"
    />
    <div class="box">
      <b-field grouped group-multiline>
        <InfoHeight />
        <InfoWeight />
      </b-field>
      <b-field grouped group-multiline>
        <InfoBirthDate />
        <InfoActivity />
      </b-field>
      <InfoSex />

      <div class="level">
        <div class="level-left">{{ $t("myInfo.bmi") }} {{ bmi }}</div>
        <div class="level-right">
          {{ $t("myInfo.caloriesMaintenance") }}
          {{ maintenanceCalories | rounded }}
          {{ $t("shared.unit.kcal") }}
        </div>
      </div>

      <InfoAllergies />
      <InfoIntolerances />
    </div>
  </section>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "MyInfo",
  filters: {
    rounded(value) {
      return Math.round(value);
    },
  },
  computed: {
    ...mapGetters("my-info", ["areSaved", "bmi", "maintenanceCalories"]),
  },
  created() {
    this.fetchList();
  },
  methods: {
    ...mapActions("my-info", ["fetchList", "save", "revert"]),
  },
};
</script>
