<template>
  <div class="section">
    <div class="box">
      <b-tabs expanded :animated="false">
        <b-tab-item
          :label="$t('myRecipes.likedRecipes')"
          class="card-container"
        >
          <RecipeSummary
            v-for="(recipeID, index) in likedRecipesIds"
            :key="index"
            :recipe-id="recipeID"
          />
        </b-tab-item>
        <b-tab-item
          :label="$t('myRecipes.personnaleRecipes')"
          class="card-container"
        >
        </b-tab-item>
      </b-tabs>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters("recipes", ["likedRecipesIds"]),
  },
  mounted() {
    this.fetchLikedRecipes();
  },
  methods: {
    ...mapActions("recipes", ["fetchLikedRecipes"]),
  },
};
</script>

<style lang="scss" scoped>
.box {
  padding: 0;
}

.card-container {
  display: grid;
  gap: 1rem;
}
</style>
