<template>
  <div class="section">
    <div class="title">
      <b-button icon-left="arrow-left" type="is-text" @click="previousWeek" />
      <b-button icon-left="arrow-right" type="is-text" @click="nextWeek" />
      <span> {{ $t(`shared.monthsInYear.${month}`) }} {{ year }} </span>
    </div>
    <div class="week">
      <BaseCarousel is-centered is-full-width>
        <DayColumn v-for="(day, i) in week" :key="i" :day="day" />
      </BaseCarousel>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapState("my-schedule", ["weeks", "currentWeekIndex"]),
    ...mapGetters("my-schedule", ["week", "month", "year"]),
  },
  async mounted() {
    await this.fetchWeek(this.currentWeekIndex);
  },
  methods: {
    ...mapActions("my-schedule", ["fetchWeek", "nextWeek", "previousWeek"]),
  },
};
</script>
