<template>
  <section class="section">
    <BasePageHeader
      :title="$t('settings.title')"
      :is-saved="areSaved"
      @save="save"
      @revert="revert"
    />
    <div class="box">
      <LanguageField />
      <UsernameField />
      <EmailField />
      <PasswordField />
      <NotificationsField />
      <ThemeField />
    </div>
  </section>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Settings",
  data: () => ({}),
  computed: {
    ...mapGetters("settings", ["areSaved"]),
  },
  created() {
    this.fetchSettings();
  },
  methods: {
    ...mapActions("settings", ["fetchSettings", "save", "revert"]),
  },
};
</script>
