<template>
  <b-field horizontal :label="$t('settings.emailLabel')">
    <b-input v-model="model" type="email" icon="email" />
  </b-field>
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";

export default {
  mixins: [vuexModel("settings", "email")],
};
</script>
