<template>
  <b-field horizontal :label="$t('settings.language.label')">
    <b-select v-model="model" icon="earth" expanded>
      <option
        v-for="(option, index) in options"
        :key="index"
        :value="option.code"
      >
        {{ option.name }}
      </option>
    </b-select>
  </b-field>
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";

export default {
  mixins: [vuexModel("settings", "language")],
  computed: {
    options() {
      return this.$i18n.locales.map((key) => ({
        name: this.$t(`settings.language.options.${key}`),
        code: key,
      }));
    },
  },
  // mounted() {
  //   this.model = this.$i18n.locale;
  // },
};
</script>
