<template>
  <b-field horizontal :label="$t('settings.notifications.label')">
    <b-switch v-model="model">
      {{ $t("settings.notifications.desc") }}
    </b-switch>
  </b-field>
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";

export default {
  mixins: [vuexModel("settings", "notifications")],
};
</script>
