<template>
  <form>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{ $t("settings.password.modal.title") }}
        </p>
      </header>
      <section class="card-content">
        <b-field :label="$t('settings.password.modal.currentPassword.label')">
          <b-input
            v-model="oldPassword"
            type="password"
            password-reveal
            :placeholder="
              $t('settings.password.modal.currentPassword.placeholder')
            "
            required
          >
          </b-input>
        </b-field>

        <b-field :label="$t('settings.password.modal.newPassword.label')">
          <b-input
            v-model="newPassword"
            type="password"
            password-reveal
            :placeholder="$t('settings.password.modal.newPassword.placeholder')"
            required
          >
          </b-input>
        </b-field>
        <footer>
          <b-button icon-left="send" type="is-text" @click="$parent.close()" />
        </footer>
      </section>
    </div>
  </form>
</template>

<script>
export default {
  data: () => ({
    oldPassword: "",
    NewPassword: "",
  }),
};
</script>

<style lang="scss" scoped>
footer {
  display: flex;
  justify-content: flex-end;
}
</style>
