<template>
  <b-field horizontal :label="$t('settings.password.label')">
    <b-button type="is-primary" @click="openModal">
      {{ $t("settings.password.value") }}
    </b-button>
  </b-field>
</template>

<script>
import PasswordModal from "./PasswordModal";

export default {
  methods: {
    openModal() {
      this.$buefy.modal.open({
        parent: this,
        component: PasswordModal,
        hasModalCard: true,
        trapFocus: true,
      });
    },
  },
};
</script>
