<template>
  <b-field horizontal :label="$t('settings.colorTheme.label')">
    <b-radio-button
      v-for="(option, index) in options"
      :key="index"
      v-model="model"
      :native-value="option"
      type="is-primary"
    >
      <span>{{ $t(`settings.colorTheme.options.${option}`) }}</span>
    </b-radio-button>
  </b-field>
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";

export default {
  mixins: [vuexModel("settings", "colorTheme")],
  data: () => ({
    options: ["gray", "blackAndWhite", "purpleAndYellow"],
  }),
};
</script>
