<template>
  <b-field horizontal :label="$t('settings.usernameLabel')">
    <b-input v-model="model" type="text" icon="account" />
  </b-field>
</template>

<script>
import vuexModel from "~/mixins/vuexModel.js";

export default {
  mixins: [vuexModel("settings", "username")],
};
</script>
