<template>
  <div>
    <b-field v-if="!isLogin" :label="$t('core.authForm.username.label')">
      <b-input
        v-model="username"
        type="text"
        :placeholder="$t('core.authForm.username.placeholder')"
        required
      />
    </b-field>

    <b-field :label="$t('core.authForm.email.label')">
      <b-input
        v-model="email"
        type="email"
        :placeholder="$t('core.authForm.email.placeholder')"
        required
      />
    </b-field>

    <b-field :label="$t('core.authForm.password.label')">
      <b-input
        v-model="password"
        type="password"
        password-reveal
        :placeholder="$t('core.authForm.password.placeholder')"
        required
      />
    </b-field>

    <b-checkbox v-if="isLogin" :value="true" disabled>
      {{ $t("core.authForm.rememberMe") }}
    </b-checkbox>
    <div id="footer">
      <b-button v-if="isLogin" class="button is-primary" @click="login">
        {{ $t("core.authForm.login") }}
      </b-button>
      <b-button v-else class="button is-primary" @click="register">
        {{ $t("core.authForm.register") }}
      </b-button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isLogin: {
      type: Boolean,
      default: true,
    },
  },
  data: () => ({
    username: "Cheems",
    email: "new_user@email.com",
    password: "supersecretpassword",
  }),
  methods: {
    async login() {
      try {
        await this.$auth.login(this.email, this.password, "/my-schedule");
        this.$emit("close");
      } catch (error) {
        this.$buefy.toast.open({
          duration: 5000,
          message: error.toString(),
          type: "is-danger",
        });
      }
    },
    async register() {
      try {
        await this.$auth.register(
          this.username,
          this.email,
          this.password,
          this.password,
          "/my-schedule"
        );
        this.$emit("close");
      } catch (error) {
        this.$buefy.toast.open({
          duration: 5000,
          message: error.toString(),
          type: "is-danger",
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
#footer {
  display: flex;
  justify-content: flex-end;
}
</style>
