<template>
  <div class="card">
    <header class="card-header">
      <b-tabs expanded :animated="false">
        <b-tab-item :label="$t('core.authModal.login')">
          <AuthForm :is-login="true" @close="$parent.close()" />
        </b-tab-item>
        <b-tab-item :label="$t('core.authModal.register')">
          <AuthForm :is-login="false" @close="$parent.close()" />
        </b-tab-item>
      </b-tabs>
    </header>
  </div>
</template>

<script>
export default {
  data: () => ({
    name: "",
    email: "test@mail.com",
    password: "testing",
  }),
};
</script>
