<template>
  <div class="level is-mobile">
    <b-icon class="level-item icon" icon="silverware-fork-knife" />
    <span class="level-item is-size-4">{{ title | uppercase }}</span>
  </div>
</template>

<script>
export default {
  filters: {
    uppercase: (text) => text.toUpperCase(),
  },
  data: () => ({
    title: "Tasty target",
  }),
};
</script>

<style lang="scss" scoped>
.icon {
  margin-right: 0.5rem;
}

span {
  font-weight: bold;
}
</style>
