<template>
  <b-navbar
    :type="$auth.loggedIn ? 'is-black' : 'is-white'"
    :shadow="$auth.loggedIn"
  >
    <template slot="brand">
      <b-navbar-item tag="nuxt-link" :to="localePath('/')">
        <Logo />
      </b-navbar-item>
    </template>
    <template slot="end">
      <template v-if="!$auth.loggedIn">
        <b-navbar-item tag="div">
          <div class="buttons">
            <b-button
              type="is-primary"
              tag="nuxt-link"
              :to="localePath('find-recipes')"
            >
              {{ $t("findRecipes.title") }}
            </b-button>
            <b-button type="is-primary" icon-left="account" @click="connect">
              {{ $t("home.myAccount") }}
            </b-button>
          </div>
        </b-navbar-item>
      </template>

      <template v-else>
        <template v-for="(tab, index) in tabs">
          <b-navbar-item
            v-if="!('subs' in tab)"
            :key="index"
            tag="nuxt-link"
            :to="localePath(tab.to)"
            class="tab"
          >
            {{ tab.name }}
          </b-navbar-item>
          <b-navbar-dropdown
            v-else
            :key="index"
            class="tab"
            :label="tab.name"
            hoverable
            collapsible
          >
            <b-navbar-item
              v-for="(sub, jndex) in tab.subs"
              :key="jndex"
              href="#"
              tag="nuxt-link"
              :to="localePath(sub.to)"
            >
              {{ sub.name }}
            </b-navbar-item>
          </b-navbar-dropdown>
        </template>
        <b-navbar-item class="tab" @click="logout">
          <b-icon icon="logout" />
        </b-navbar-item>
      </template>
    </template>
  </b-navbar>
</template>

<script>
import AuthModal from "./AuthModal";

export default {
  computed: {
    tabs() {
      return [
        { name: this.$t("findRecipes.title"), to: "find-recipes" },
        { name: this.$t("mySchedule.title"), to: "my-schedule" },
        { name: this.$t("myRecipes.title"), to: "my-recipes" },
        {
          name: this.$t("core.navbar.me"),
          subs: [
            { name: this.$t("myGoals.title"), to: "my-goals" },
            { name: this.$t("myDiet.title"), to: "my-diet" },
            { name: this.$t("myInfo.title"), to: "my-info" },
          ],
        },
        { name: this.$t("settings.title"), to: "settings" },
      ];
    },
  },
  methods: {
    connect() {
      if (this.$auth.loggedIn) {
        this.$router.push(this.localePath("/my-schedule"));
      } else {
        this.$buefy.modal.open({
          parent: this,
          component: AuthModal,
          hasModalCard: true,
          trapFocus: true,
        });
      }
    },
    async logout() {
      await this.$auth.logout();
    },
  },
};
</script>

<style lang="scss" scoped>
.tab {
  border-bottom: 3px transparent solid;
  padding-left: 0;
  padding-right: 0;
  margin: 0 12px;
}

.tab:hover {
  border-color: lightgrey;
}

.tab.nuxt-link-active {
  border-color: white;
}
</style>
