<template>
  <div v-if="recipe" id="card" class="card" @click="openRecipe">
    <header class="card-header">
      <p class="card-header-title">{{ recipe.name }}</p>
      <a href="#" class="card-header-icon">
        <b-icon v-if="recipe.liked" icon="star" />
        <b-icon v-else icon="star-outline" />
      </a>
    </header>
    <div class="card-content">
      <div class="content">
        <div class="columns">
          <div class="column">
            <h3 class="title is-6">
              {{ $t("myRecipes.nutrientsLabel") }}
            </h3>
            <div v-for="(value, name) in recipe.nutrients" :key="name">
              {{ $t(`shared.${name}`) }} : {{ value }} {{ unit(name) }}
            </div>
          </div>
          <div class="column">
            <h3 class="title is-6">
              {{ $t("myRecipes.ingredientsLabel") }}
            </h3>
            <template v-if="Array.isArray(recipe.ingredients)">
              <div v-for="(ingredient, i) in recipe.ingredients" :key="i">
                {{ ingredient }}
              </div>
            </template>
            <template v-else>
              <div v-for="(quantity, name) in recipe.ingredients" :key="name">
                {{ name | capitalize }} : {{ quantity | joinIfArray }}
              </div>
            </template>
          </div>
          <div class="column">
            <div v-if="'prepTime' in recipe">
              {{ $t("myRecipes.readyIn") }}
              {{ prettyMinutes(recipe.prepTime) }}
            </div>
            <div v-if="'price' in recipe">
              {{ $t("shared.priceLabel") }} : {{ recipe.price }} $
            </div>
            <div v-if="'servings' in recipe">
              {{ $t("shared.servingsLabel") }} : {{ recipe.servings }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import nutrientUnit from "~/mixins/nutrientUnit.js";

export default {
  filters: {
    capitalize(value) {
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
    joinIfArray(value) {
      return Array.isArray(value) ? value.join(" ") : value;
    },
  },
  mixins: [nutrientUnit],
  props: {
    recipeId: {
      type: Number,
      default: 0,
    },
  },
  data: () => ({
    recipe: null,
  }),
  async mounted() {
    try {
      this.recipe = await this.fetchRecipeByID(this.recipeId);
    } catch (error) {
      this.$buefy.toast.open({
        duration: 2000,
        message: error.toString(),
        type: "is-danger",
      });
    }
  },
  methods: {
    ...mapActions("recipes", ["fetchRecipeByID"]),
    prettyMinutes(minutes) {
      let hours = Math.floor(minutes / 60);
      let minutesRest = minutes - 60 * hours;
      hours = hours ? `${hours} ${this.$t("shared.prepTime.hoursAnd")} ` : "";
      minutesRest = minutesRest + " " + this.$t("shared.prepTime.minutes");
      return hours + minutesRest;
    },
    openRecipe() {
      this.$router.push(this.localePath(`/recipes/${this.recipeId}`));
    },
  },
};
</script>

<style lang="scss" scoped>
#card {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#card::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#card:hover {
  transform: scale(1.01, 1.01) translateZ(0);
  backface-visibility: hidden;
  cursor: pointer;
}

#card:hover::after {
  opacity: 1;
}
</style>
