<template>
  <div class="day" :class="{ today: isToday(day.date) }">
    <div class="header">
      {{ $t(`shared.daysInWeek.${day.dayInWeek}`) }} <br />
      {{ day.dayInMonth }}
    </div>

    <RecipesList
      v-for="(meal, i) in day.meals"
      :key="i"
      :recipes-ids="meal"
      on-schedule
      @click="openDay(day.date, i)"
    />

    <div class="nutrients">
      <div v-for="(value, name) in day.nutrients" :key="name">
        {{ name | capitalize }}: {{ value }} {{ unit(name) }}
      </div>
    </div>
  </div>
</template>

<script>
import nutrientUnit from "~/mixins/nutrientUnit.js";

export default {
  filters: {
    capitalize(value) {
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
  },
  mixins: [nutrientUnit],
  props: {
    day: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
    openDay(date, mealIndex) {
      this.$router.push({
        path: this.localePath(
          `/days/${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`
        ),
        query: { mealIndex },
      });
    },
    isToday(date) {
      const today = new Date();
      return (
        date.getFullYear() === today.getFullYear() &&
        date.getMonth() === today.getMonth() &&
        date.getDate() === today.getDate()
      );
    },
  },
};
</script>

<style lang="scss" scoped>
.day {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 200px;
  gap: 1rem;

  .header {
    text-align: center;
    background-color: var(--primary);
    color: var(--primary-invert);
    font-size: 1.2rem;
    border-radius: 5px 5px 0 0;
    padding: 10px;
  }

  .nutrients {
    background-color: var(--primary);
    color: var(--primary-invert);
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 0 0 5px 5px;
  }
}

.today {
  --primary: #23d160;
  --primary-invert: #fff;
}
</style>
