<template>
  <div :class="{ meal: onSchedule }" @click="$emit('click')">
    <div v-for="(recipe, j) in recipes" :key="j" class="recipe">
      {{ recipe.name }}
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  props: {
    onSchedule: {
      type: Boolean,
      default: false,
    },
    recipesIds: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    recipes: [],
  }),
  async mounted() {
    await this.recipesIds.forEach(async (recipeID) => {
      this.recipes.push(await this.fetchRecipeByID(recipeID));
    });
  },
  methods: {
    ...mapActions("recipes", ["fetchRecipeByID"]),
  },
};
</script>

<style lang="scss" scoped>
.meal {
  border: 1px solid transparent;
  text-align: center;
  background-color: $light;
  color: $light-invert;
  padding: 10px;
  font-size: 0.9rem;

  .recipe {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.meal:hover {
  border: 1px solid var(--primary);
}
</style>
