@import "~bulma/sass/utilities/_all";
// @import "~bulma/sass/utilities/initial-variables";
// @import "~bulma/sass/utilities/functions";

$primary: #8c67ef;
$primary-invert: findColorInvert($primary);

:root {
  --primary: #8c67ef;
  --primary-invert: #fff;
}

$colors: (
  "white": (
    $white,
    $black,
  ),
  "black": (
    $black,
    $white,
  ),
  "light": (
    $light,
    $light-invert,
  ),
  "dark": (
    $dark,
    $dark-invert,
  ),
  "primary": (
    $primary,
    $primary-invert,
  ),
  "info": (
    $info,
    $info-invert,
  ),
  "success": (
    $success,
    $success-invert,
  ),
  "warning": (
    $warning,
    $warning-invert,
  ),
  "danger": (
    $danger,
    $danger-invert,
  ),
);

@import "~bulma";
@import "~buefy/src/scss/buefy";
